{%extends "layout.template.html"%}

{% block title %}RESTAURANT REVIEWS{% endblock %}



{%block content%}

    <a href ="/restaurants">Restaurants</a> 
    
        <table class='table'>
            <thead>
                <tr>
                    <th>Restaurant</th>
                
                    <th>Address</th>
                    
                    <th>Business Hours</th>
                    
                    <th>Telephone</th>
                </tr>
            </thead>
            {% for each_result in results %}
            <tr>
                <td>
                    {{ each_result["name"] }}
                </td>
                <td>
                    {{ each_result["address"]["country"] }}
                </td>
                <td>
                    {% for each_amentity in each_result['amenities'] %}
                    <span>{{each_amentity }}</span>,
                    {%endfor%}
                </td>
            </tr>
            {%endfor%}
        </table>
{%endblock%}        